bin
obj
/publish
.vs
*.ak
lockfile
/XboxPrefill/XboxPrefill.csproj.user
/XboxPrefill.sln.DotSettings.user
/docs/site
*.log
*.user
XboxPrefill/Properties/PublishProfiles/FolderProfile.pubxml
/docs/RenderAnsiToSvg/__pycache__/*.pyc

.serena/
.claude/
.firecrawl/
